<footer class="rack py-20">
  <div class="col-2 offset-4">
    <img src="/img/psp-logo.png" alt="company logo" id="psp-logo">
    <p class="b1">Medical data for everyone. <br>And for the future.</p>
  </div>
  <ul id="footer-link" class="col-6 text-right">
    <!--        <li><a href="#" target="_blank">Old PSP Asia Website</a></li>-->
    <!--        <li><a href=".//news">Our Business News</a></li>-->
    <!--        <li><a href="#contact-us">Contact</a></li>-->
    <!--        <li><a href="#">Support</a></li>-->
  </ul>

  <div class="col-8 offset-4 border-t border-b-black"></div>
  <div id="copyright" class="col-4 offset-4">©️ 2025 PSP Asia Co., Ltd. All rights reserved.</div>
  <div id="privacy-policy" class="col-4 flex justify-end">
    <ul id="privacy-policy-list">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Copyright</a></li>
    </ul>
  </div>
</footer>
